*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 5rem;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);  /* #ffd9c6 */
}
.landing-text{
    margin: auto;
    width: 100%;
    text-align: center;
    z-index: 1;
    padding-bottom: 3rem;
}
.landing-text h1{
    font-size: 7rem;
    padding: 1rem;
    user-select: none;
    width: fit-content;
    margin: auto;
}
.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
    width: fit-content;
    margin: auto;
}
.login-logout{
    float: right;
    margin-top: -10rem;
    margin-right: 5rem;
    width: 20%;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 3rem;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    margin-bottom: 5rem;
    position: static;
}
.top-nav{
    width: 100%;
    background-color: var(--primaryHighlight);  /* #ffbb96 */
    position: static;
}
.nav-list{
    list-style: none;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    margin: auto;
}
li{
    margin: 0.8rem;
    padding-left: 2rem;
}
.nav-link{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 3rem;
    padding: 1rem;
}
.nav-link:hover,
.nav-link:focus{
    font-weight: bold;
}
.appointments-buttons{
    float: right;
    padding-right: 20rem;
    margin-bottom: 5rem;
}
.openings-buttons{
    float: right;
    padding-right: 20rem;
}
.openings-text{
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    padding-top: 5rem;
}
.openings-text h1{
    text-align: center;
}
.fake-buttons {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.fake-buttons li{
    display: inline;
    list-style-type: none;
    width: 30rem;
}
.fake-button{
    background-color: var(--primaryHighlight); /* #ffbb96 */
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
}
.app-fake-button{
    background-color: var(--primaryHighlight); /* #ffbb96 */
    border: none;
    border-radius: 8px;
    padding: 15px 60px;
}
.app-fake-button:hover,
.app-fake-button:focus{
    background-color: var(--primaryHighlightDark); /* #faa97d */
}
.fake-button:hover,
.fake-button:focus{
    background-color: var(--primaryHighlightDark); /* #faa97d */
}
table{
    margin-right: 10rem;
    margin-left: 10rem;
    width: 80%;
    border-collapse: collapse;
    font-size: 1.2rem;
}
table th{
    font-size: 1.5rem;
    background-color: var(--primaryHighlight); /* #ffbb96 */
}
table, td, th{
    border: 1px solid black;
    padding: 15px 20px;
}
.login{
    margin: auto;
    font-size: 2rem;
    width: 25%;
    text-align: center;
}
.logout{
    width: 100%;
    text-align: center;
    line-height: 200%;
    font-size: 2rem;
}
label{
    display: block;
    font-weight: bold;
    float: left;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 0 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2rem;
}
input[type=submit]{
    background-color: var(--primaryHighlight);
    border: none;
    padding: 15px 60px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}
input[type=submit]:hover{
    background-color: var(--primaryHighlightDark);
}
.register{
    margin: auto;
    font-size: 2rem;
    width: 30%;
    text-align: center;
}
.field-divided{
    width: 49%;
}
.required{
    color: red;
}
input[type=radio]{
    border-radius: 50%;
    position: relative;
    float: left;
    display: block;
    margin: 8px 8px 0 0;
}
.radio{
    font-weight: lighter;
    margin-right: 1.5rem;
}
.gender{
    display: block;
    margin-right: 2rem;
}


.calendar-explanation{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
}
.calendar{
	border-radius: 4px;
	overflow: hidden;
	width: 80%;
    padding-bottom: 5rem;
	background-color: #ffbb96;
	color: black;
    margin: auto;
}
.calendar table{
    margin: auto;
}
.calendar h2, .calendar h3{
	font-size: 2rem;
	text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}
.calendar .col{
	position: relative;
	height: 100%;
}
.calendar tr{
	margin: 0px;
    width: 100%;
}
.calendar .dates-col{
	width: 100%;
}
.calendar .dates-col h2{
	color: black;
    margin-top: 1rem;
}
.calendar table{
    width: 80%;
    font-size: 1.2rem;
}
.calendar .weekdays{
    width: 100%;
}
.calendar table,
.calendar th,
.calendar td{
	border: none;
    padding: 20px 25px;
}
.calendar th a,
.calendar td a{
	color: black;
    width: 100px;
    text-align: center;
}
.calendar th a{
	width: 100px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.5rem;
}
.calendar td{
	width: 100px;
    text-align: center;
}
.calendar td a{
	width: 100px;
	height: 24px;
	text-align: center;
	margin: auto auto;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
}
.calendar td:hover{
	background-color: #faa97d;
    cursor: pointer;
}



