/* general */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: black;
	margin-bottom: 5rem;
}
body {
	background-color: var(--backgroundColor);
}
a {
	text-decoration: none;
}
.main-title-text {
	margin: auto;
	width: 100%;
	text-align: center;
	z-index: 1;
	padding-bottom: 3rem;
}
.main-title-text h1 {
	font-size: 7rem;
	padding: 1rem;
	user-select: none;
	width: fit-content;
	margin: auto;
}
.main-title-text h6 {
	font-size: 2rem;
	font-weight: 300;
	width: fit-content;
	margin: auto;
}
.top-right-button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20%;
	font-family: 'Courier New', Courier, monospace, sans-serif;
	font-size: 2rem;
	line-height: 140%;
	width: 15rem;
	border: 1px solid black;
	background-color: var(--primaryHighlight);
}
.welcome-text {
	background-color: none;
	width: auto;
	border: none;
	color: gray;
}
.slightly-lower {
	top: 50px;
}
header {
	width: 100%;
	margin-bottom: 2rem;
}
header a, .buttonize-link {
	text-decoration: none;
	color: black;
}
.top-nav-list {
	margin: 0 auto;
	padding: 0.7rem 0.4rem;
	background-color: var(--primaryHighlight);
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.top-nav-list>li {
	display: inline;
	margin: 0 0.8rem;
	padding-left: 2rem;
}
.nav-link {
	font-family: 'Courier New', Courier, monospace, sans-serif;
	font-size: 3rem;
	padding: 1rem;
}
.nav-link:hover, .nav-link:focus, .mouseover:hover, .mouseover:focus {
	font-weight: bold;
	transform: scale(1.1);
	transition: all 0.1s ease-in-out;
}

/* generics */

/* used by most forms */
.page-content-550 {
	margin: 0 auto;
	font-size: 2rem;
	width: 550px;
	text-align: center;
}
/* used by most datasheets */
.page-content-750-1000 {
	margin: 0 auto;
	min-width: 750px;
	width: 80%;
	max-width: 1000px;
	text-align: center;
}
/* used by calendar */
.page-content-800-1200 {
	margin: 0 auto;
	min-width: 800px;
	width: 90%;
	max-width: 1200px;
	text-align: center;
}

.page-content-550 p {
	line-height: 200%;
}
.data-view {
	background-color: var(--backgroundColorLight);
	font-family: monospace;
	line-height: 115%;
	line-height: 105%;
}
.required {
	color: red;
}
input[type=radio] {
	border-radius: 50%;
	position: relative;
	float: left;
	display: block;
	margin: 8px 8px 0 0;
}
.radio {
	font-weight: lighter;
	margin-right: 1.5rem;
}
.gender {
	display: block;
	margin-right: 2rem;
}

.banner {
	background-color: var(--primaryHighlight);
	text-align: center;
	font-size: 1.8rem;
	width: fit-content;
	padding: 10px 15px;
	border-radius: 8px;
	margin: 1rem auto;
	animation: error_flash 1s linear 0.2s;
}

/* Simple formatting */

.bold-left {
	font-weight: bold;
	text-align: left;
}
.normal-paragraph {
	font-weight: normal;
	text-align: left;
	text-indent: 50px;
	margin: 0;
	min-height: 100px;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}

/* Floats and alignments */

.aleft {
	text-align: left;
}
.aright {
	text-align: right;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}

/* Colors and Designs */

.graybg {
	background-color: var(--primaryHighlightDark);
}
.whitebg {
	background-color: var(--backgroundColorLight);
}
.soft-highlight {
	background-color: rgb(255, 255, 0) !important;
}
.gray {
	color: gray;
}
.black {
	color: black;
}
.red {
	color: red;
}
.size2p2 {
	font-size: 2.2rem;
	line-height: 0;
	vertical-align: middle;
}
.size2p4 {
	font-size: 2.4rem;
	line-height: 0;
	vertical-align: middle;
}
.size1p5h2 {
	font-size: 1.5rem;
	line-height: 2rem;
	vertical-align: middle;
}
.size1p4h2 {
	font-size: 1.4rem;
	line-height: 2rem;
	vertical-align: middle;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
.navy {
	color: navy;
}
.centered {
	text-align: center;
}
.faded {
	opacity: 0.6;
}
.disabled {
	opacity: 0.4;
}
.extra-side-padding {
	padding: 8px 32px;
}

/* navigable data pages */

.info-list-title-container {
	margin: 0 auto;
	height: 4rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
.info-list-page-controls {
	font-size: 150%;
	display: inline-grid;
	grid-template-columns: 1fr 2fr 1fr;
	text-align: center;
	align-items: center;
}
.info-list-subtitle {
	margin: auto;
	text-align: center;
	font-size: 2.5rem;
	display: block;
}


.openings-subtitle {
	width: 80%;
	margin: 1.4rem auto .4rem auto;
	clear: both;
}
.openings-text h1 {
	text-align: center;
}
.new-opening h1 {
	margin-bottom: 2rem;
	margin: auto;
	font-size: 2.5rem;
}
.second-value {
	float: right;
}
.day-list {
	display: inline-block;
	margin-top: 2rem;
}
.day-list li {
	float: left;
	margin-left: -.5rem;
	font-weight: lighter;
}
.new-opening input[type=submit] {
	margin-top: 2rem;
}
.top-buttons {
	text-align: center;
}
.buttonize-link {
	display: inline-block;
	/* margin: 1rem; */
	text-align: center;
	font-size: 16px;
	background-color: var(--primaryHighlight);
	border-radius: 8px;
	width: 24rem;
	height: 5rem;
	line-height: 5rem;
}
.buttonize-link:hover, .buttonize-link:focus {
	background-color: var(--primaryHighlightDark);
}
.inset-button {
	width: auto;
	height: auto;
	margin: 0;
}

/* datasheets (page-wide tables) */

table.info-list {
	width: 100%;
	margin: 1rem auto;
	border-collapse: collapse;
	font-size: 1.2rem;
}
table.info-list, table.info-list th, table.info-list td {
	border: 1px solid black;
	padding: 5px 10px;
	text-align: center;	
}
table.info-list th {
	font-size: 1.5rem;
	background-color: var(--primaryHighlight);
}
table.info-list td {
	font-family: monospace;
	font-size: 130%;
}
table.info-list tr {
	background-color: var(--backgroundColorLight);
	height: 45px;
}

/* calendar page */

.calendar-date {
	font-size: 400%;
	color: var(--primaryHighlight);
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
}
table.openings-calendar {
	margin: 1rem auto;
	table-layout: fixed;
	border: 2px solid black;
	box-shadow: 2px 2px 2px black;
}
table.openings-calendar th {
	font-size: 200%;
}
table.openings-calendar tr {
	min-height: 100px;
	height: 100px;
}
table.openings-calendar th, table.openings-calendar td {
	padding: 0;
	position: relative;
	max-width: 170px;
	width: 170px;
}
table.openings-calendar div {
	position: relative;
	background-color: rgba(0, 0, 255, 20%);
	color: blue;
	margin: 0 7px 0 65px;
	border-top: 1px solid rgba(0, 0, 0, 50%);
	border-bottom: 1px solid rgba(0, 0, 0, 50%);
}
table.openings-calendar div.highlight {
	background-color: yellow;
}


/* profile page */

.profile-page-nodata {
	font-size: 2rem;
	text-align: left;
}
.profile-table {
	font-size: 2rem;
}
.profile-image {
	margin-top: 2rem;
	margin-left: 3rem;
	width: 100%;
}
.profile-table {
	table-layout: fixed;
	padding: 15px 10px;
	width: 100%;
	border: 2px solid black;
	box-shadow: 2px 2px 2px black;
}
.profile-table td {
	width: 50%;
}
.profile-basic-stats {
	display: grid;
	width: 90%;
	grid-template-columns: 170px auto 33px;
	margin: 0 0 auto auto;
}
.profile-basic-stats > .full-width-grid {
	grid-column-start: 1;
	grid-column-end: 4;
}
.profile-basic-stats > .bold-left {
	margin-left: 1rem;
}
.profile-basic-stats > .h1-like {
	font-size: 2em;
}
.profile-basic-stats > .h3-like {
	font-size: 1.17em;
	line-height: 2em;
}
.profile-basic-stats img {
	width: 20px;
	margin: 0 auto;
}
.right-float-img-button {
	float: right;
	width: 20px;
}
.profile-basic-stats .right-float-img-button {
	height: 100%;
	margin-right: 0.8rem;
}
/* css for make & confirm new appointment(s) page */

.make-appointment, .confirm-appointment, .new-opening {
	margin: auto;
	width: fit-content;
	font-size: 2rem;
	text-align: left;
	font-size: 2rem;
	font-weight: bold;
	line-height: 200%;
}
.make-appointment label {
	margin-right: 1rem;
}
.make-appointment input[type=submit], .confirm-appointment input[type=submit] {
	display: block;
	margin-top: 1rem;
}
.select {
	display: block;
	float: left;
	margin-left: 8px;
}
.logout {
	width: 100%;
	text-align: center;
	line-height: 200%;
	font-size: 2rem;
}
label {
	display: block;
	font-weight: bold;
	float: left;
}
input[type=text], input[type=password], input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0 0 0;
	display: inline-block;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 2rem;
}
input[type=submit] {
	background-color: var(--primaryHighlight);
	border: none;
	padding: 15px 60px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 2rem;
	font-weight: bold;
}
input[type=submit]:hover {
	background-color: var(--primaryHighlightDark);
}
.please-login {
	background-color: var(--primaryHighlight);
	text-align: center;
	font-size: 1.8rem;
	width: fit-content;
	padding: 10px 15px;
	border-radius: 8px;
	margin: auto;
}

/* Animations */

@keyframes error_flash {
	14.3% { background-color: red; }
	28.6% { background-color: var(--primaryHighlight); }
	42.9% { background-color: red; }
	57.1% { background-color: var(--primaryHighlight); }
	71.4% { background-color: red; }
	85.7% { background-color: var(--primaryHighlight); }
}
