/* general */

@font-face {
	font-family: joeLetter;
	src: url('/fonts/Joe-Letter.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: black;
	margin-bottom: 5rem;
}
body {
	background-color: var(--backgroundColor);
}
a {
	text-decoration: none;
}
th, td {
	overflow: hidden;
	/* white-space: nowrap; */
}
.main-title-text {
	margin: 0 auto;
	/* width: max-content; */
	height: 100px;
	z-index: 1;
	padding-bottom: 3rem;
	color: white;
	/* user-select: none; */
	overflow: hidden;
	white-space: nowrap;
}
.main-title-text h1 {
	display: inline;
	font-family: joeLetter;
	font-size: 9rem;
	padding: 1rem;
	margin: auto;
	text-shadow: 3px 3px 5px black;
}
.main-title-text h3 {
	display: inline;
	font-size: 3rem;
	font-weight: 300;
	margin: auto;
	text-shadow: 2px 2px 3px black;
}
.top-right-button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20%;
	font-family: 'Courier New', Courier, monospace, sans-serif;
	font-size: 2rem;
	line-height: 140%;
	width: 15rem;
	border: 1px solid black;
	background-color: var(--primaryHighlight);
	text-align: center;
}
.welcome-text {
	background-color: none;
	width: auto;
	border: none;
	color: gray;
}
.slightly-lower {
	top: 50px;
}
.bottom-left {
	position: fixed;
	left: 10px;
	bottom: 5px;
}
.bottom-right {
	position: fixed;
	right: 10px;
	bottom: 5px;
}
.timestamp {
	z-index: 101;
	font-family: 'Courier New', Courier, monospace, sans-serif;
	font-size: 1.5rem;
	user-select: none;
	padding: 5px 10px;
	z-index: 11;
	background-color: var(--backgroundColor);
	border: 1px solid black;
	cursor: all-scroll;
}
.timestamp:hover {
	opacity: 0.75;
}
.timestamp:active {
	opacity: 0.5;
}
.timestamp > .label {
	text-align: center;
	font-weight: bold;
}
.timestamp-grid {
	display: grid;
	width: 312px;
	grid-template-columns: auto auto;
	column-gap: 1rem;
}
.col1to3 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.body-big-title {
	color: white;
	/* font-family: joeLetter; */
	font-size: 5rem;
	padding: 1rem;
	margin: auto;
	text-shadow: 3px 3px 5px black;
	text-align: center;
}

/* header */
header {
	width: 100%;
	margin-bottom: 2rem;
}
header a, .buttonize-link {
	text-decoration: none;
	color: black;
}
.side-circle {
	position: fixed;
	border-radius: 50%;
	background-color: var(--primaryHighlight);
	z-index: -100;
	opacity: 0.5;
}
.c1 {
	top: -200px;
	left: -500px;
	width: 1800px;
	height: 500px;
	transform: rotate(-10deg);
}
.c2 {
	top: -200px;
	bottom: 0;
	left: -400px;
	width: 650px;
	height: 1400px;
	transform: rotate(-10deg);
}
.c3 {
	bottom: -300px;
	left: -100px;
	width: 1700px;
	height: 400px;
	transform: rotate(11deg);
}
.c4 {
	bottom: -200px;
	right: -300px;
	width: 600px;
	height: 1200px;
	transform: rotate(5deg);
}
.top-nav-list {
	margin: 0 auto;
	padding: 0.7rem 0.4rem;
	background-color: var(--primaryHighlight);
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.top-nav-list li, .page-content-550 li {
	display: inline;
	margin: 0 0.8rem;
	padding-left: 2rem;
}
.nav-link {
	font-family: 'Courier New', Courier, monospace, sans-serif;
	font-size: 3rem;
	padding: 1rem;
}
.nav-link:hover, .nav-link:focus, .mouseover:hover, .mouseover:focus {
	font-weight: bold;
	transform: scale(1.1);
	transition: all 0.1s ease-in-out;
}

/* shared */
.page-title {
	font-size: 4rem;
	text-align: center;
	margin-bottom: 2rem;
}
.multiform-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-items: center;
	/* align-items: center; */
	width: fit-content;
	margin: 0 auto;
	gap: 4rem;
}
/* used by most forms */
.page-content-550 {
	margin: 0 auto;
	font-size: 2rem;
	width: 550px;
}
.floating-box {
	border: 2px solid black;
	padding: 4rem;
	background-color: var(--backgroundColor);
	box-shadow: 2px 2px 2px black;
	height: fit-content;
	width: fit-content;
}
.form-grid-full-rows {
	display: grid;
	gap: 8px;
	grid-template-columns: 1fr 2fr;
	justify-items: center;
	align-items: center;
}
.form-grid-full-rows-halfsies {
	grid-template-columns: 1fr 1fr;
}
.form-grid-datetime-rows {
	display: grid;
	gap: 12px 4px;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}
.form-grid-gender-rows {
	display: grid;
	column-gap: 6px;
	grid-template-columns: 24px auto;
	align-items: center;
}
.form-flex-column {
	display: flex;
	flex-direction: column;
	/* justify-items: center;
	align-items: center; */
}
.form-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 16px;
	justify-items: center;
	align-items: center;
}
.h1-right-floater {
	float: right;
	font-size: 70%;
	text-align: right;
}
.form-grid-days-of-week {
	display: grid;
	grid-template-columns: 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr; /* DOW [] x7 */
	justify-items: center;
	align-items: center;
	margin: 0 -20px;
}
.form-grid-full-rows p.label, .form-grid-datetime-rows p.label, .form-grid-days-of-week label {
	width: 100%;
	margin-right: 10%;
	text-align: right;
	user-select: none;
}
/* used by calendar */
.page-content-800-1200 {
	margin: 0 auto;
	min-width: 800px;
	width: 90%;
	max-width: 1200px;
	text-align: center;
}

.data-chart {
	background-color: var(--backgroundColorLight);
	font-family: monospace;
	line-height: 115%;
	line-height: 105%;
}
.data-chart-icon-small {
	vertical-align: middle;
	background-color: hsl(0, 0%, 100%);
	height: 20px;
	width: 20px;
	padding: 2px;
	border-radius: 6px;
}
.data-chart-icon-gender {
	height: 32px;
	padding: 2px;
	vertical-align: middle;
	border-radius: 10px;
	width: 32px;
}
.data-chart-top-right-buttons {
	display: flex;
	flex-direction: row-reverse;
	gap: 16px;
	align-items: center;
}
.data-chart-button {
	font-size: 12px;
	background-color: var(--primaryHighlight);
	border-radius: 8px;
	width: 10rem;
	height: 3.6rem;
	line-height: 3.6rem;
	color: black;
}
.data-chart-button:hover, .data-chart-button:focus {
	background-color: var(--primaryHighlightDark);
}
.male {
	background-color: hsl(220, 100%, 85%);
}
.female {
	background-color: hsl(0, 80%, 90%)
}
.required {
	color: red;
}
.desired {
	color: magenta;
}

.banner {
	background-color: var(--primaryHighlight);
	text-align: center;
	font-size: 1.8rem;
	width: max-content;
	padding: 10px 15px;
	border-radius: 8px;
	margin: 1rem auto;
	animation: error_flash 1s linear 0.2s;
}

/* Simple formatting */

.bold-left {
	font-weight: bold;
	text-align: left;
}
.normal-paragraph {
	font-weight: normal;
	text-align: left;
	text-indent: 50px;
	margin: 0;
	min-height: 100px;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}

/* Floats and alignments */

.aleft {
	text-align: left;
}
.aright {
	text-align: right;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}

/* Colors and Designs */

.graybg {
	background-color: var(--primaryHighlightDark);
}
.whitebg {
	background-color: var(--backgroundColorLight);
}
.soft-highlight {
	background-color: rgb(255, 255, 0) !important;
}
.gray {
	color: gray;
}
.black {
	color: black;
}
.red {
	color: red;
}
.size2p2 {
	font-size: 2.2rem;
	line-height: 0;
	vertical-align: middle;
}
.size2p4 {
	font-size: 2.4rem;
	line-height: 0;
	vertical-align: middle;
}
.size1p5h2 {
	font-size: 1.5rem;
	line-height: 2rem;
	vertical-align: middle;
}
.size1p4h2 {
	font-size: 1.4rem;
	line-height: 2rem;
	vertical-align: middle;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
.navy {
	color: navy;
}
.centered {
	text-align: center;
}
.faded {
	opacity: 0.6;
}
.disabled {
	opacity: 0.4;
}
.extra-side-padding {
	padding: 8px 32px;
}

/* navigable data pages */

.info-list-title-container {
	margin: 0 auto;
	height: 4rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
.info-list-page-controls {
	font-size: 150%;
	display: inline-grid;
	grid-template-columns: 1fr 2fr 1fr;
	text-align: center;
	align-items: center;
}
.info-list-subtitle {
	margin: auto;
	text-align: center;
	font-size: 2.5rem;
	display: block;
}
.info-list th.credits {
	/* background-color: hsla(56, 85%, 65%, 0.6); */
}
.info-list td.credits {
	background-color: hsla(56, 50%, 92%, 0.8);
	color: hsl(56, 80%, 35%);
	font-size: 20px;
}

.openings-subtitle {
	width: 80%;
	margin: 1.4rem auto .4rem auto;
	clear: both;
}
.openings-text h1 {
	text-align: center;
}
.second-value {
	float: right;
}
.top-buttons {
	text-align: center;
}
.buttonize-link {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	background-color: var(--primaryHighlight);
	border-radius: 8px;
	width: 24rem;
	height: 5rem;
	line-height: 5rem;
}
.buttonize-link:hover, .buttonize-link:focus {
	background-color: var(--primaryHighlightDark);
}
.inset-button {
	width: auto;
	height: auto;
	margin: 0;
}
.left-right-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 2.5rem auto;
	width: max-content;
	gap: 4rem;
}

/* main tables - unified settings */
.container-750-1000 {
	margin: 0 auto;
	min-width: 750px;
	width: 100%;
	max-width: 1000px;
	text-align: center;
}
table.info-list, table.openings-calendar, table.profile-box {
	table-layout: fixed;
	background-color: var(--backgroundColor);
	opacity: 0.85;
	margin: 1rem auto 0 auto;
	border: 2px solid black;
	box-shadow: 2px 2px 2px black;
}

/* datasheets (page-wide tables) */
table.info-list {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.2rem;
}
table.info-list th, table.info-list td {
	border: 1px solid black;
	padding: 5px 10px;
}
table.info-list th, table.info-list td {
	word-break: break-word;
}
table.info-list th {
	font-size: 1.5rem;
	background-color: var(--primaryHighlight);
}
table.info-list td {
	font-family: monospace;
	font-size: 130%;
}
table.info-list tr {
	background-color: var(--backgroundColorLight);
	height: 45px;
}

/* calendar page */

.calendar-date {
	font-size: 400%;
	color: var(--primaryHighlight);
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
}
table.openings-calendar th {
	font-size: 200%;
}
table.openings-calendar tr {
	min-height: 100px;
	height: 100px;
}
table.openings-calendar th, table.openings-calendar td {
	padding: 0;
	position: relative;
	max-width: 170px;
	width: 170px;
}
table.openings-calendar div {
	position: relative;
	background-color: rgba(0, 0, 255, 20%);
	color: blue;
	margin: 0 7px 0 65px;
	border-top: 1px solid rgba(0, 0, 0, 50%);
	border-bottom: 1px solid rgba(0, 0, 0, 50%);
}
table.openings-calendar div.highlight {
	background-color: yellow;
}


/* profile page */

.buttoned-panel {
	margin: 0 auto;
	width: max-content;
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 2rem;
}
.buttoned-panel>.buttoned-panel-main {
	grid-column: 1/2;
	grid-row: 1/2;
}
.buttoned-panel>.buttoned-panel-buttons {
	display: flex;
	flex-direction: column;
	max-width: 112px;
	align-items: center;
	gap: 1rem;
	padding-top: 3rem;
	padding-bottom: 1.5rem;
}
.buttoned-panel-buttons>a {
	font-size: 1.2rem;
	background-color: var(--primaryHighlight);
	color: black;
	border-radius: 8px;
	width: 8rem;
	height: 8rem;

	display: grid;
	align-content: center;
	text-align: center;
	justify-items: center;
}
.buttoned-panel-buttons>a:hover {
	background-color: var(--primaryHighlightDark);
}
.buttoned-panel-buttons>a.last {
	margin-top: auto;
}
.buttoned-panel-buttons>a.disabled {
	background-color: var(--backgroundColorLight);
	color: gray;
	cursor: default;
}
.buttoned-panel-buttons>a.red {
	background-color: hsla(0, 100%, 80%, 0.7);
	color: darkred;
	font-weight: bold;
}
.buttoned-panel-buttons>a.red:hover {
	background-color: hsl(0, 100%, 90%);
	color: red;
}
.buttoned-panel-buttons>a.green {
	background-color: hsla(120, 100%, 80%, 0.7);
	color: darkgreen;
	font-weight: bold;
}
.buttoned-panel-buttons>a.green:hover {
	background-color: hsl(153, 100%, 90%);
	color: hsl(120, 73%, 33%);
}

.profile-page-nodata {
	font-size: 2rem;
	text-align: left;
}
table.profile-box {
	margin: 0;
	font-size: 2rem;
	padding: 15px 10px;
	min-width: 750px;
	width: 100%;
	max-width: 1000px;
	text-align: center;
}
table.profile-box td {
	width: 50%;
}
.profile-image {
	margin-top: 2rem;
	margin-left: 3rem;
	width: 100%;
	height: 30rem;
	object-fit: cover;
}
.profile-basic-stats {
	width: 90%;
	margin: 0 auto;
}
.profile-stat-row {
	width: 100%;
	display: grid;
	grid-template-columns: 162px auto 33px;
	margin: 0;
}
.profile-basic-stats > .bold-left {
	margin-left: 1rem;
}
.profile-basic-stats > .h1-like {
	font-size: 2em;
}
.profile-basic-stats > .h3-like {
	font-size: 1.17em;
	line-height: 2em;
}
.profile-basic-stats img {
	width: 20px;
	margin: 0 auto;
}
.right-float-img-button {
	float: right;
	width: 20px;
}
.profile-basic-stats .right-float-img-button {
	height: 100%;
	margin-right: 0.8rem;
	margin-top: 0.8rem;
}


/* css for make & confirm new appointment(s) page */

.make-appointment label {
	margin-right: 1rem;
}
.availability-chart {
	width: fit-content;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2px;
	align-items: center;
	justify-items: center;
	/*
	border: 2px solid black;
	padding: 4px;
	background-color: var(--backgroundColor);
	box-shadow: 2px 2px 2px black;
	*/
}
.availability-chart .hour {
	width: fit-content;
	margin: 0 auto;
	border: 1px solid black;
	padding: 1px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2px;
	align-items: center;
	justify-items: center;
	background-color: var(--primaryHighlightDark);
}
.availability-chart .quarter {
	padding: 2px 4px 8px 2px;
	font-size: 2rem;
	border: 1px solid black;
	text-align: center;
	background-color: var(--primaryHighlight);
	user-select: none;
	cursor: pointer;
}
.availability-chart .open {
	color: black;
}
.availability-chart .busy {
	color: hsl(300, 100%, 90%);
	background-color: hsl(300, 38%, 15%);
}
.select {
	display: block;
	float: left;
	margin-left: 8px;
}
.logout {
	width: 100%;
	text-align: center;
	line-height: 200%;
	font-size: 2rem;
}
label {
	display: block;
	font-weight: bold;
	float: left;
}
input[type=text], input[type=password], input[type=email], select {
	width: 100%;
	padding: 6px 12px;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 2rem;
}
input[type=submit] {
	background-color: var(--primaryHighlight);
	border: none;
	padding: 15px 60px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 2rem;
	font-weight: bold;
}
input[type=submit]:hover {
	background-color: var(--primaryHighlightDark);
}
.please-login {
	background-color: var(--primaryHighlight);
	text-align: center;
	font-size: 1.8rem;
	width: max-content;
	padding: 10px 15px;
	border-radius: 8px;
	margin: auto;
}
.back-button {
	height: 4rem;
	line-height: 4rem;
	width: 16rem;
}

/* Animations */

@keyframes error_flash {
	14.3% { background-color: red; }
	28.6% { background-color: var(--primaryHighlight); }
	42.9% { background-color: red; }
	57.1% { background-color: var(--primaryHighlight); }
	71.4% { background-color: red; }
	85.7% { background-color: var(--primaryHighlight); }
}
